<h1>Create a Team and Heroes!</h1>
<!-- <br></br> -->

<form action="/" method="post">
  <p>Team Name: <input type="text" name="team[name]"> </p>
  <p>Team Motto: <input type="text" name="team[motto]"> </p>

  <!-- <br></br> -->

  <% num = 1 %>
  <% 3.times do %>
  <h2>Hero <%= num %></h2>
    <!-- <br></br> -->
    <p>Hero's Name: <input type="text" name="sh<%= num %>[name]"> </p>
    <p>Hero's Power: <input type="text" name="sh<%= num %>[power]"> </p>
    <p>Hero's Biography: <input type="text" name="sh<%= num %>[biography]"> </p>
    <!-- <br></br> -->
    <% num += 1 %>
  <% end %>
  <input type="submit" value="submit">
</form>
