<form action="/team" method="post">
  <h1>Create a Team and Heroes!</h1>
    <input type="text" name="team[name]" placeholder="team[name]">
    <input type="text" name="team[motto]" placeholder="team[motto]">
  <h2>Hero 1</h2>
    <input type="text" name="member1[name]" placeholder="member1_name">
    <input type="text" name="member1[power]" placeholder="member1_power">
    <input type="text" name="member1[bio]" placeholder="member1_bio">
  <h2>Hero 2</h2>
    <input type="text" name="member2[name]" placeholder="member2_name">
    <input type="text" name="member2[power]" placeholder="member2_power">
    <input type="text" name="member2[bio]" placeholder="member2_bio">
  <h2>Hero 3</h2>
    <input type="text" name="member3[name]" placeholder="member3_name">
    <input type="text" name="member3[power]" placeholder="member3_power">
    <input type="text" name="member3[bio]" placeholder="member3_bio">
  <input type="submit" id="submit">
</form>
